
.add-alojamiento {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.content-container{
  align-items: center;
  justify-content: center;
  padding: 0px 20px 50px 20px;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-claro);
}

.form-container h2{
 font-size: 30px;
 color: var(--color-dark-green);
}

.form-container form {
  font-size: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-claro);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-dark-green);
}

.form-container label {
  padding: 20px;
}

.form-container .cancel {
  background-color: #FF0000;
}

.form-container .cancel:hover {
  background-color: #994439;
}

.form-container input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  margin-right: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 5px;
}

.form-container .submit {
  background-color: #4CAF50;;
}
.form-container .submit:hover {
  background-color: #45a049;
}
