@import url('../../components/Variables.css');

.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .admin-content {
    display: flex;
    flex: 1;
  }
  
  .admin-content .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;    
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  
  .add-button:hover {
    background-color: #218838;
  }
  
  .admin-content .main-content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-content .main-content table, 
  .admin-content .main-content th, 
  .admin-content .main-content td {
    border: 1px solid #ddd;
  }
  
  .admin-content .main-content th, 
  .admin-content .main-content td {
    padding: 8px;
    text-align: left;
  }
  
  .admin-content .main-content th {
    background-color: #f2f2f2;
  }
  
  .admin-content .main-content button {
    margin: 0 5px;
    padding: 5px 10px;   
    color: white;
    border: none;
    cursor: pointer;    
    border-radius: 5px;
    text-decoration: none;
  }

  .admin-content .main-content button.edit {
    background-color: #4CAF50;
  }

  .admin-content .main-content button.delete {
    background-color: #FF0000;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 100vh;
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }





  