/* Botón Flotante con animación de rotación */
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Comienza sin rotación */
    }
    to {
        transform: rotate(360deg); /* Gira 360 grados */
    }
}

.floating-button {
    position: fixed; /* Hace que el botón sea flotante */
    z-index: 999;
    bottom: 0px; /* Posiciona el botón a 0px del borde inferior */
    right: 0px; /* Posiciona el botón a 0px del borde derecho */
    cursor: pointer;
    animation: rotate 10s linear infinite; /* Aplica la animación de rotación */
}

.floating-button img {
    width: 115px; /* Tamaño de la imagen del botón */
}
