/* Contenedor de filtro */
.filtro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(115, 108, 77, 0.8);
  border-radius: 50px;
  background-color: rgba(115, 108, 77, 0.8);
  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  flex-wrap: wrap;
}

.filtro-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.filtro-container.hidden {
  opacity: 0;
  transform: translateY(-30%);
}

/* Estilo para cada ítem de filtro */
.filtro-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.filtro-icon {
  padding-bottom: 18px;
  margin-right: 8px;
  font-size: 1.2em;
  color: white;
}

/* Estilo para los campos de entrada y selectores */
.filtro-input, .filtro-select {
  padding: 10px;
  border: 1px solid rgb(115, 108, 77);
  border-radius: 50px;
  background-color: var(--color-claro);
  min-width: 150px;
}

.filtro-input {
  flex: 1;
  min-width: 200px;
  margin-bottom: 16px;
}

.filtro-input::placeholder {
  color: black;
  font-size: 16px;
}

.filtro-select {
  flex: 1;
  min-width: 150px;
}

/* Estilo para los botones */
.filtro-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.filtro-button, .limpiar-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  min-width: 120px;
}

.filtro-button {
  background-color: #3f9646;
}

.limpiar-button {
  background-color: #d9534f;
}

.filtro-button:hover, .limpiar-button:hover {
  opacity: 0.8;
}

/* Ajustes responsivos */
@media (max-width: 800px) {
  .filtro-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .filtro-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .filtro-input, .filtro-select, .filtro-button, .limpiar-button {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .filtro-buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}
