:root {
    --color-bg: #F2EDE4; /* Color de fondo general */
    --color-text: #736C4D; /* Color del texto en la barra de navegación */
}

.about {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--color-bg); /* Usa la variable para el color de fondo */
    margin: 0px
}

/* TÍTULO */
.space {
    height: 50px; /* Espacio entre secciones */
}

.section-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 5px;
    margin-bottom: -50px;
    color: var(--color-text);
}

.section-name h3, .section-name i {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 300;
}

.section-name i {
    font-size: 10px;
}

.title {
    color: var(--color-text); /* Color del texto */
    font-size: 3.5em;
    letter-spacing: -3px;
    margin: 0px 50px 0px 50px;
}

.title h1 {
    margin: 0px;
    font-weight: 500;
}

.title .nido {
    display: flex; /* Permite que la línea y el texto estén en la misma fila */
    align-items: center; /* Alinea verticalmente */
    margin-top: -50px;
    margin-bottom: -10px;
}

.line-nido {
    display: flex; /* Alinea horizontalmente */
    align-items: center; /* Para centrar verticalmente */
}

.line-decorative {
    height: 1px; /* Grosor de la línea */
    background-color: var(--color-text); /* Color de fondo */
    width: 150px; /* Longitud de la línea decorativa */
    border-radius: 5px; /* Borde redondeado */
    margin-right: 10px; /* Espacio entre la línea y el texto */
}

/* SECCIÓN 1 */

.section1 {
    display: flex;
    justify-content: flex-end;
    color: var(--color-text);
    margin: 0px 50px 0px 50px;
}

.section1 .column {
    width: 50%;
}

.section1 h2 {
    font-weight: 400;
    font-size: 2em;
    margin: 0;
}

/* SECCIÓN 2 */

.section2 {
    display: flex; /* Usa flexbox para alinear columnas */
    gap: 20px; /* Espacio entre columnas */
    color: var(--color-text);
    margin: 0px 50px 0px 50px;
}

.section2 .column-iz {
    flex: 1; /* Ocupa la mitad izquierda */
}

.section2 .about-img1 {
    width: 85%;
    height: 50%;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
    border: 3px solid var(--color-text);
}

.section2 .column-der {
    flex: 0.5; /* Ocupa la mitad derecha */
    display: flex; /* Para dividir el espacio en el interior */
    flex-direction: column; /* Alinea los elementos verticalmente */
}

.section2 .text-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
}

.section2 .text-container h2 {
    font-weight: 500;
    font-size: 25px;
}

.section2 .image-container {
    flex: 1;
}

.section2 .about-img2 {
    width: 100%;
    height: 50%;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
    border: 3px solid var(--color-text);
}

/* SECCIÓN 3 */

.section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section3 .text-container {
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre columnas */
    align-items: flex-start;
}

.section3 .text {
    width: 60%;
    justify-content: flex-end;
    color: var(--color-text);
}

.section3 h2 {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}

.section-name2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    gap: 5px;
    color: var(--color-text);
}

.section-name2 h3, .section-name2 i {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 300;
}

.section-name2 i {
    font-size: 10px;
}

.section3 .img-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
}

.section3 .column-iz {
    flex: 1;
    padding-left: 50px;
}

.section3 .column-der {
    flex: 1; /* Ocupa la mitad derecha */
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 50px
}

.section3 .about-img3 {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    border: 3px solid var(--color-text);
}

.section3 .about-img4 {
    width: 100%;
    height: 120%;
    object-fit: cover;
    border: 3px solid var(--color-text);
}

.section3 .column-der .text-container {
    padding-top: 50px;
}

.section3 .column-der .text-container h2 {
    width: 50%;
    font-size: 23px;
    font-weight: 500;
    color: var(--color-text);
}

.section3 .column-der .image-container {
    padding-bottom: 50px;
    width: 50%;
}
