.alojamiento-card {
  width: 300px;
  text-align: center;
  background-color: var(--color-claro);
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-dark-green);
}



.alojamiento-card h3 {
  font-weight: 100;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.details-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(242, 237, 227, 0.7);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
  z-index: 50;
}

.details-button:hover {
  background-color: var(--color-claro);
}

.details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: rgba(115, 108, 77, 0.3);
  /* Ajusta la opacidad del fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.details-container {
  text-align: center;
  color: var(--color-claro);
}


/* ESTILOS PARA LOS DETALLES */

.alojamiento-details {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.alojamiento-details li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail-number {
  border: 1px solid var(--color-dark-green);
  color: var(--color-dark-green);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}