.alojamiento-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinear elementos horizontalmente */
  padding: 0px 20px;
  gap: 20px; /* Espacio entre tarjetas */
}

.alojamiento-card {
  flex: 1 1 30%; /* Ocupa 30% del contenedor */
  max-width: 300px; /* Máximo ancho de la tarjeta */
  min-width: 280px; /* Mínimo ancho de la tarjeta */
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
  margin: 10px;
}

@media (max-width: 800px) {
  .alojamiento-card {
    flex: 1 1 100%; /* Ocupa 100% del ancho en pantallas pequeñas */
    max-width: none; /* Elimina el máximo ancho en pantallas pequeñas */
  }
}
