@import url('../components/Variables.css');

.banner {
    position: relative; /* Permite que el título se superponga */
    background-color: var(--color-claro); /* Usa la variable para el color de fondo */
}

.banner .container-banner {
    position: relative; /* Necesario para que el título se posicione correctamente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .title {
    position: absolute; /* Permite que el título se superponga al banner */
    top: 50%; /* Coloca el título en el centro vertical del banner */
    transform: translateY(-55%); /* Ajusta la posición para centrarlo exactamente */
    width: 100%;
    z-index: 10; /* Para asegurar que esté al frente */
}

.banner .banner-img {
    width: 100%; /* Imagen que ocupa todo el ancho */
    max-height: 1920px; /* Limita la altura de la imagen */
    object-fit:cover; 
    border-bottom-left-radius: 40%; 
    border-bottom-right-radius: 40%;
    height: 100vh; /* Hace que el banner ocupe toda la altura del viewport */
}

/* Botón Flotante con animación de rotación */
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Comienza sin rotación */
    }
    to {
        transform: rotate(360deg); /* Gira 360 grados */
    }
}

.floating-button {
    position: fixed; /* Hace que el botón sea flotante */
    z-index: 99;
    bottom: 0px; /* Posiciona el botón a 0px del borde inferior */
    right: 0px; /* Posiciona el botón a 0px del borde derecho */
    cursor: pointer;
    animation: rotate 10s linear infinite; /* Aplica la animación de rotación */
}

.floating-button img {
    width: 115px; /* Tamaño de la imagen del botón */
}