@import url('../components/Variables.css');

footer {
    background-image: linear-gradient(
        to bottom,
        rgba(242, 237, 228, 1) 0%,  /* Empieza transparente y en 0% del degradado */
        
        rgba(115, 108, 77, 0.4) 100% /* Termina en opacidad baja al 100% */
    );
    display: flex; /* Para alinear elementos */
    justify-content: space-between; /* Espaciar elementos en el footer */
    align-items: center; /* Alineación vertical */
    width: 100%; /* Ancho completo del footer */
}

.footer-left,
.footer-right {
    flex: 1; /* Ocupa igual espacio */
    text-align: center; /* Centrar contenido */
    
}

.footer-left img,
.footer-right img {
    width: 175px; /* Tamaño de las imágenes */
}

.footer-center {
    flex: 2; /* Doble espacio para el centro */
    display: flex; /* Permite alineación interna */
    justify-content: space-around; /* Espacia los elementos internos */
    
    padding: 80px 0 80px 0;
}

.footer-text-left,
.footer-text-right {
    padding: 10px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
}

.footer-text-left a,
.footer-text-right a,
.footer-text-left p,
.footer-text-right p {
    text-decoration: none; /* Sin subrayado */
    margin: 5px 0; /* Espacio entre enlaces */
    font-weight: 300; 
    font-size: 18px; /* Tamaño del texto */
    color: var(--color-dark-green); /* Color del texto */
    font-family:"Frank Ruhl Libre", serif
}

.footer-text-left a:hover,
.footer-text-right a:hover {
    position: relative; /* Ensure pseudo-element is positioned relative to the anchor */
}

.footer-text-left a:hover::after,
.footer-text-right a:hover::after {
    content: ''; 
    position: absolute; 
    bottom: -4px; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: var(--color-dark-green); 
    transition: width 0.5s; 
}

/* Estilos para la sección Alojamientos */
.alojamientos{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: var(--color-dark-green);
}

/* Personalización de la barra de desplazamiento para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark-green); /* Color del thumb (parte desplazable) */
    border-radius: 10px; /* Bordes redondeados para un aspecto suave */
}

::-webkit-scrollbar-track {
    background: var(--color-claro); /* Color del track (parte de fondo) */
}

/* Personalización para Firefox */
* {
    scrollbar-width: thin; /* Ancho fino para la barra de desplazamiento */
    scrollbar-color: #736C4D #F2EDE4; /* Color del thumb y del track */
}