.navbar {
    background-color: rgba(242, 237, 228, 0.8);
    display: flex;
    align-items: center;
    transition: background-color 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* Transición más suave con efecto de rebote */
}

.navbar.fixed {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 30px 0;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.navbar a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--color-dark-green);
    font-weight: lighter;
    font-size: 0.8em;
    padding: 10px 50px;
    position: relative;
    transition: all 0.3s;
    display: block;
}

.navbar ul a:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-green);
    transition: width 0.5s;
}

a.logo {
    flex: 0 1 auto;
    text-align: center;
    padding: 0px;
}

.logo img {
    height: 70px;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Efecto de rebote suave */
  }
  
  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Efecto de rebote suave */
  }